/* CRAZY EYEZ */
  
 body {
   text-align:center;
   padding: 2vh;

    }

    /* fonts  */

  .italic{
    font-size: 2em;
    font-family: 'Koulen', cursive;
  align-content: center;
    font-stretch: semi-condensed;
    color: rgb(68, 12, 51, 0.438);
    margin: 2em;
    font-weight: 800;
    
    }
 
   #g {

    font-size: 5em;
    font-family: 'Koulen', cursive;
    font-style: bold;
    
    color: rgba(68, 12, 51, 0.438);
    margin: 2em;
    font-weight: 800;
    
   }

   h2 {

    font-size: 3em;
    font-family: 'Koulen', cursive;
    font-style: bold;
       color: rgba(128, 22, 96, 0.438);
    font-style: italic;
    font-weight: 600;
    align-content: center;


   }
   
/* section style */
   .three {
     width: 100%;
    height: 100%;
      display: flex;
    justify-content: center;
background-color: rgba(128, 22, 96, 0.438); 
background-image: linear-gradient(180deg, rgba(255, 192, 192), rgba(255, 160, 160, 0.116)); 
border-radius: 0px 0px 25px 25px;
}

.text{
  padding: 1em;
  text-align: center;
  font-family: 'Mulish', sans-serif;;
  background-color: rgb(255, 192, 192);
  border-radius: 25px 25px 0px 0px;  
}


#twotwo {
font-size: medium;
font-family: 'Mulish', sans-serif;
font-family: 'Mulish', sans-serif;
color: rgba(128, 22, 96, 0.438);

}


/* gap style */
#gap {
width: 2vh;
height: 2vh;
}


/* form style */

#p{
  background-color: rgba(128, 22, 96, 0.438); 
  font-size: 2em;
  font-family: 'Titillium Web', sans-serif;
  font-style: bold;
  font-stretch:extra-expanded;
  color:rgba(255, 192, 192) ;
  padding: 3% 6%;
    text-align: center;
    border-radius: 20px 20px 20px 20px
  
}

#p1{
 
  background-color: rgba(128, 22, 96, 0.438); 
  font-size: 2em;
  font-family: 'Mulish', sans-serif;
  font-style: bold;
  font-stretch:extra-expanded;
  color:rgba(128, 22, 96, 0.438) ;
  padding: 1.5% 32%;
  text-align: center;
  border-radius: 25px 25px 25px 25px
   
   
}

#p2{
  background-color: rgba(128, 22, 96, 0.438); 
  font-size: 2em;
  font-family: 'Mulish', sans-serif;
  font-style: bold;
  font-stretch:extra-expanded;
  color:rgba(128, 22, 96, 0.438) ;
  padding: 5px;
  text-align: center;
  border-radius: 25px 25px 25px 25px

}
#p3{
 
   font-size: 2em;
  font-family: 'Titillium Web', sans-serif;
  font-stretch:extra-expanded;
  color:rgba(128, 22, 96, 0.438) ;
  padding:  2% 20%;
  text-align: center;
     border-radius: 25px 25px 25px 25px
}
      

  /* Animation eyes */
     

     .main {
          display: flex;
          align-items: stretch;
          width: 100%;
          height: 100%;
          margin: 20%;
          border-radius: 100%;
        }

        #one {
          width: 100px;
          height: 100px;
          position: relative;
                    animation-name: example;
          animation-duration: 2s;
          animation-direction: reverse;
          animation-iteration-count: infinite;
          border-radius: 100%;
          
        }

        @keyframes example {
          0%   {background-color:red; left:0px;}
          50%  {background-color:rgb(255, 30, 0); left:35%; }
          100% {background-color:red; left:0px; }
         
        }
      

        #two {
          width: 100px;
          height: 100px;
          position: relative;
                    animation-name: example;
          animation-duration: 2s;
          animation-direction: forward;
          animation-iteration-count: infinite;
          border-radius: 100%;     
        }
        
       .img
                    {
            border-radius: 8vh;
           
           
          }
        

     